.game-container {
    position: relative;
    width: min(90vw, 100vh) !important;
    aspect-ratio: 2 / 1;
    max-height: 50vh;
    background-color: var(--accent-bg-color);
    outline: var(--border);
    border-radius: var(--border-radius);
}

.player {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10%;
    aspect-ratio: 2 / 1;
    transform: rotate(0deg);
    margin: 0;
    padding: 0;
}
