div.modal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--modal-bg-color);
    z-index: 100;
}

div.start-modal {
    display: flex;
}

div.end-modal {
    display: none;
}

div.modal-body {
    width: 80vw;
    height: 80vh;
    justify-content: space-between;
    background-color: var(--primary-bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
}

div.modal-body section {
    width: 70vw;
    margin-bottom: 10vh;
    overflow: auto;
}

div.rules-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

div.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

div.score-container h3 {
    width: fit-content;
    padding: 1vh;
    border-bottom: 1px solid #000000;
}

div.modal-body p {
    width: 200px;
    height: 100px;
    border-right: 1px solid #000000;
    padding: 0 1vw;
}

div.modal-body p:first-of-type {
    border-left: 1px solid #000000;
}

div.modal-body p b {
    font-size: 1.5em;
}

div.modal-body button {
    all: unset;
    width: 40vw;
    height: 10vh;
    font-size: 2.5vh;
    background-color: var(--accent-bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 10vh;
    cursor: pointer;
}
