:root {
    --primary-bg-color: #fcfcfc;
    --accent-bg-color: #ececec;
    --text-color: #000000;
    --border: 1px solid #000000;
    --border-radius: 5vh;
}

@font-face {
    font-family: "Fredoka One";
    src: url(../fonts/fredoka-one/FredokaOne-Regular.ttf);
    font-size: normal;
    font-weight: 300;
}

* {
    font-family: "Fredoka One", "Comic Sans MS", sans-serif, serif;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body, main, main header, main header h1, main header h3, main div.game-container, div.button-container, div.button-container button {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    justify-content: space-evenly;
    background-color: var(--primary-bg-color);
}

main {
    height: 70vh;
    justify-content: start;
}

main header {
    width: 90vw;
    height: 20vh;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

main header h1 {
    width: 20vh;
    height: 20vh;
}

main header h1 img {
    height: 20vh;
}

main header h3 {
    width: 20vh;
    height: 10vh;
    font-size: 2.5vh;
    background-color: var(--accent-bg-color);
    outline: var(--border);
    border-radius: var(--border-radius);
    visibility: hidden;
}

.game-container {
    position: relative;
    width: min(90vw, 100vh) !important;
    aspect-ratio: 2 / 1;
    max-height: 50vh;
    background-color: var(--accent-bg-color);
    outline: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.player {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10%;
    aspect-ratio: 2 / 1;
    transform: rotate(0deg);
    margin: 0;
    padding: 0;
}

div.button-container {
    position: fixed;
    bottom: 0;
    height: 30vh;
}

div.button-container button {
    all: unset;
    width: 80vw;
    height: 20vh;
    margin: 5vh 10vw;
    font-size: 5vh;
    background-color: var(--accent-bg-color);
    outline: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
}

a.gh-badge {
    position: fixed;
    right: 1vw;
    bottom: 1vw;
    width: max(5vw, 5vh);
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 0;
    border-radius: 100%;
}

a.gh-badge img {
    border-radius: 100%;
}
