:root {
    --primary-bg-color: #fcfcfc;
    --accent-bg-color: #ececec;
    --modal-bg-color: #00000033;
    --text-color: #000000;
    --border: 1px solid #000000;
    --border-radius: 5vh;
}

@font-face {
    font-family: "Fredoka One";
    src: url(../fonts/fredoka-one/FredokaOne-Regular.ttf);
    font-size: normal;
    font-weight: 300;
}

* {
    font-family: "Fredoka One", "Comic Sans MS", sans-serif, serif;
    text-align: center;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
}

body, main, main header, main header h1, main header h3, div.modal, div.modal-body, main div.game-container, div.button-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    justify-content: start;
    background-color: var(--primary-bg-color);
}

main {
    height: 70vh;
    justify-content: start;
}

main header {
    width: 90vw;
    height: 20vh;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

main header h1, div.modal div h1 {
    width: 20vh;
    height: 10vh;
}

main header h1 img, div.modal div h1 img {
    height: 10vh;
}

main header h3 {
    width: 20vh;
    height: 5vh;
    font-size: 2.5vh;
    background-color: var(--accent-bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    visibility: hidden;
}

div.button-container {
    position: fixed;
    bottom: 0;
    height: 30vh;
}

div.button-container button {
    all: unset;
    width: 80vw;
    height: 20vh;
    margin: 5vh 10vw;
    font-size: 5vh;
    background-color: var(--accent-bg-color);
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
}

a.gh-badge {
    position: fixed;
    right: 1vw;
    bottom: 1vw;
    width: max(5vw, 5vh);
    aspect-ratio: 1 / 1;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    z-index: 666;
}

a.gh-badge img {
    border-radius: 100%;
}
